/*root*/
:root{
    --buttonColor: #F79E7D;
    --sectionbgc: #CBE3B8;
    --productSelectbarColor: #65C1DA;
}

body{
     /* font-family: 'Kaushan Script', cursive;*/
     font-family: 'Noto Serif JP', serif; 
}
* {
    box-sizing: border-box;
}
/*container*/

.container{
    width: 1120px;
    max-width: 1120px;
    padding: 0;
    margin: 0 auto;
    font-size: 18px;
    /* overflow: hidden; */
}

/*header section*/
.header{
    width: 100%;
    display: flex;
    align-items: center;
    font-family: 'Kaushan Script', cursive;
    overflow: hidden;
}

.logo{
    transform: translate(-40px);
}
.header-contacts{
    display: flex;
    align-items: center;
    margin: 0 auto;

}

.header-contacts>div:nth-child(odd){
    margin-right: 20px;
}
.header-contacts>div:nth-child(even){
    margin-right: 50px;
}
.header-langague{
    display: flex;
    align-items: center;
}

.header-langague>div:nth-child(1){
    margin-right: 20px;
}

/*menu section*/
.menu{
    display: flex;
    height: 50px;
}
.firstMenu{
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 0;
    position: relative;
    flex: 1;
    height: 100%;
}
.firstMenu>li{
    margin-right: 30px;

}
.firstMenu>li>a{
    line-height: 50px;
}
.submenu{
    padding-left: 0;
    position: absolute;
    top: 40px;
    left: 0;
    box-sizing: border-box;
    display: none;
 
    width: 700px;
 }
.submenu li{
    margin-top: 10px;
    box-sizing: border-box;
    margin-right: 15px;
 }
.submenu>li>a{
    box-sizing: border-box;
}
 ul{
    list-style-type: none;
}
 a{
    text-decoration: none;
    
}

.menu li:hover{
    border-bottom: 1px solid ;
    background-color: var(--sectionbgc ) ;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
}
.firstMenu>li:nth-child(3):hover .submenu{
    display: flex;
    flex-direction: row;
}
.search{
    margin: 0 20px;
    width: 250px;
    height: 50px;
}
.search input{
    height: 50px;
    border: 1px solid ;
    border-radius: 50px;
    outline: none;
    text-align: center;
    width: 100%;
 }
.btn{
    border: 1px;
    background-color: var(--buttonColor);
    border-radius: 50px;
    height: 50px;
    line-height: 50px;
    width: 270px;
    text-align: center;
}

/*notice section*/

.vỉewmore{
    display: block;
    width: 200px;
    height: 40px;
    line-height: 40px;
}

.notice{
    width: 1120px;
    height: 400px;
    display: flex;
    background-color: var(--sectionbgc);

}

.notice-left{
    height: 400px;
    width: 500px;
    margin-right: 40px;
}

.notice-left h3{
    margin-left: 40px;
    text-transform: uppercase;
    text-align: justify;
}
.notice-left h4{
    margin-left: 40px;
    text-transform: uppercase;
    text-align: justify;
}
.notice-left a{
    margin: 40px auto 0 ;
}

.notice-right{
    width: 400px;
    height: 240px;
    margin: 40px auto;
    background-color: #C4C4C4;
 }


.tracking{
    width: 400px;
    background-color: #C4C4C4;
    border: 1px solid;
    text-align: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}


 .tracking-content{
     width: 400px;
     height: 200px;
     border: 1px solid;
 }


 #trackingId, .tracking-content a{
     display: block;
     width: 250px;
     height: 40px;
     margin: 20px auto;
     text-align: center;
 }

 /*products section*/
 .product{
     display: grid;
     grid-template-columns: repeat(3, 1fr);
     grid-template-rows: 60px 60px 200px;
     gap: 10px;
     width: 1120px;
     height: 400px;
     background-color: var(--sectionbgc);
     padding-top: 20px;
 }
 .product h3{
     text-transform: uppercase;
     grid-column: 1/4;
     text-align: center;
     display: block;
     height: 40px;
     align-self: center;
     margin: 0;
   }
  .productName{
      display: inline-block;
      text-transform: uppercase;
      height: 60px;
      text-align: center;
      align-self: center;
      width: 300px;
      background-color: #C4C4C4;
      line-height: 60px;
      margin: 0 auto;
      position: relative;
       overflow: hidden;
     
   }
   .productName:hover img{
    left: -50px;
    box-shadow: blue;
   }

   .productName:hover{
    box-shadow: 5px 5px 5px blue;
   }
   .productName img{
       position: absolute;
       top: 0;
       left: -350px;
        z-index: 0;
       transition: all;
       transition-duration: 1s;
   }
   .productName p{
       position: absolute;
       z-index: 1;
       height: 60px;
       width: 300px;
       left: 0;
       line-height: 60px;
       display: inline-block;
       margin: 0 auto;
   }


  .productContent{
      height: 220px;
      text-align: center;
      background-color: white;
      width: 300px;
      margin: 0 auto;
  }
  .productContent a{
      margin: 0 auto 10px;
      line-height: 40px;
  }
  .productContent p {
      margin-bottom: 40px ;
  }
  .productContent h5{
      margin: 10px auto;
  }

  /*about section*/

  .about{
      background-image: url(./Assets/about-section\ 1120x420.jpg);
      width: 1120px;
      height: 420px;
       background-repeat: no-repeat;
       background-position: center;
     
  }

  .opacity{
      width: 1120px;
      height: 420px;
      background-image: linear-gradient(to left, #1F2FEA, #E3C0B3, #F79E7D);
      opacity: 0.6;
      display: grid;
      grid-template-columns: repeat(5,1fr);
      grid-template-rows: 150px 100px 50px 50px;
      text-align: center;
  }
  .opacity h3{
      grid-column: 1/6;
      display: inline-block;
      margin-top: 40px;
  }
  .opacity i{
      
      font-size: 60px;
      color: black;
     
  }

  .opacity i:hover{
      color:  white;
  }

  /*partner section*/
  .partner{
    width: 1120px;
    height: 102px;
  display: flex;
  align-items: center;
}

  .partnerparent{
      position: relative;
      width: 1012px;
      height: 102px;
      overflow: hidden;
      margin: 0 auto;
  }

  .partner-img{
      height: 100px;
       margin: 0 auto;
      transition: all;
      transition-duration: 1s;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 0;
   }
  .partner img{
      display: inline-block;
      border:  1px solid;
      box-sizing: border-box;
      padding: 0;
      margin: 0;
      height: 100%;
      border-radius: 15px;

  }
  .partner .fas{
      font-size: 70px;
       color: indigo;
      background-color: var(--buttonColor);
      cursor: pointer;
   }
  .fa-chevron-left{
    margin-left: 00px;
  }
  .fa-chevron-right{
      margin-right: 00px;
  }

  .partner i:hover{
      box-shadow: 0px 0px 50px 5px;
  }