.child1{
    height: 100px;
    width: 600px;
    background-color: black;
    position: absolute;
    z-index: -1;
}
.child2{
    height: 500px;
    width: 500px;
    background-color: blue;
    position: absolute;
    z-index: -2;
}