.content{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.img{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.content img{
    width: 100%;
}
.img img:hover{
    transform: scale(1);
}
.info{
    text-align: justify;
}