table, th, td{
    border: 1px solid blue;
}
table, #search-input{
    width: 100%;
}
th{
color: blue;

}
td{
    color: coral;
}
.search{
    height: 10vh;
    color: crimson;
    margin: 0;
    padding: 0;
    font-size: 100%;
}
tbody>tr:nth-child(even){
    background: chartreuse;
}
tbody>tr:nth-child(odd){
    background: cyan;
}