 body{
     margin: 0;
     padding: 0;
 }
#main{
     width: 60%;
     height: 80vh;
     margin:   auto;
  }
 #main-content{
     width: 100%;
     height: 60vh;
      border: 0px solid;
   }
  #mainImg{
      width: 100%;
      height: 100%;
    }
 #sub-content{
     width: 100%;
     height: 20vh;
      display: grid;
     grid-template-columns: repeat(4, 1fr);
     grid-template-rows: 1fr 1fr;
     grid-column-gap: 1px;

     
 }
.sub img{
    width: 100%;
     /* opacity: 0.8; */
    border-radius: 10px;
    object-fit: cover;

}
.sub>img:hover{
    opacity: 1;
    cursor: pointer;
}
 
@keyframes fadein{
    to{
        opacity: 1;
    }
}
.fadein{
    opacity: 0;
    animation: fadein 0.5s ease-in forwards;
}