*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: #fff;
    content: #000;
    line-height: 1.5;
    overflow-x: hidden;
}

a
{
    text-decoration: none;
    color: #262626;
}

a:hover
{
    color: #c51230;
}

ul
{
    list-style-type:none ;
}


.container
{
    width: 100%;
}
img
{
    transition: transform .7s;
}
img:hover
{
    transform: scale(1.1);
}





/** Style header**/

.wrap
{
    width: 100%;
    height: 100%;
    background-color: #eeeeee;
    margin-bottom: 20px;
}
.header
{
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: bold;
}
.header-left,.header-right
{
    display: flex;
    align-items: center;
}
.header-left li ,.header-right li
{
    padding: 10px 0;
    margin-right: 10px;
    
}
.header-right li:nth-child(3)
{
    margin:0;
}
.header-left a,.header-right a
{
    padding-right:5px ;
    border-right: 0.5px solid #262626;
}

.header-left li:nth-child(4) a,.header-right li:nth-child(3) a
{
    border: none;
    padding-right: 0;
}
.header-right li:nth-child(1) a
{
    border: none;
}
.header-right li:nth-child(1) a:nth-child(3)
{
    border-right: 0.5px solid #262626;;
}






/**Style nav**/

.nav
{
    width: 100%;
    background-color: #fff;
    margin-bottom: 10px;
}
.main-nav
{
    max-width: 1280px;
    margin: 0 auto;
}
.main-logo
{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.main-logo img
{
    max-width: 50%;
}
.search input
{
    width:400px;
}
.search button
{
    width: 50px;
}
.search input,.search button
{
    padding: 5px;
    font-size: 20px;
}
.search
{
    display: flex;
    border: 1px solid #c51230;
}
#logo
{
    transition: all .7s;
}

.search button
{
    border: 0;
    cursor: pointer;
    background-color: #c51230;
    color: #fff;
}



.main-menu
{
    font-weight: bold;
}
.main-menu ul
{
    display: flex;
}
.main-menu ul:nth-child(1) li
{
    padding-left: 0;
}

.main-menu li 
{
    padding: 10px;
}
.main-menu a
{
    padding: 10px;
}
.main-menu ul:nth-child(1) li a
{
    padding: 0px;
}
@keyframes fade-down
{
    0%
    {
        transform: translateY(-200px);
    }
    100%
    {
        transform: translateY(0);
    }
}
/* @-moz-keyframes fade-down
{
    0%
    {
        transform: translateY(-200px);
    }
    100%
    {
        transform: translateY(0);
    }
} */
@-webkit-keyframes fade-down
{
    0%
    {
        transform: translateY(-200px);
    }
    100%
    {
        transform: translateY(0);
    }
}
.fade-down
{
    position: fixed;
    top: 0;
    animation-name: fade-down;
    /* -webkit-animation-name: fade-down;
    -webkit-animation-direction: 2s;
    -moz-animation-name: fade-down ;
    -moz-animation-duration: 2s; */
    animation-duration: 2s;
    z-index: 100;
}


/**style banner**/

.banner
{
    position: relative;
    max-width: 1280px;
    margin: 10px auto;
    
}
.banner img
{
    transform: none;
    width: 100%;
}
.dot-container
{
    position: absolute;
    bottom: 5%;
    left: 49%;
}
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
        
  } 
  .active, .dot:hover {
    background-color: #fff;
  }



  .sub-title
  {
      margin: 10px auto;
      text-align: center;
      text-transform: uppercase;
  }
  .border
  {
      position: absolute;
      width: 40px;
      height: 4px;
      background-color: #c51230;
      left: 49%;
  }


  .products
  {
      max-width: 1280px;
      margin: 0 auto;
      display: grid;
      grid-template-columns: repeat(4,25%);

  }
  .items
  {
      overflow: hidden;
      padding: 10px;
      margin-right: 10px;
      
  }
  .items:nth-child(4),.items:nth-child(8)
  {
      margin-right: 0;
  }
  .items:hover
  {
      border: 1px dotted black;
  }
  .items a
  {
      width: 100%;  
  }
  .items a img
  {
      width: 100%;
  }

  .content
  {
      text-align: center;
  }
  .content strike
  {
      color: #777;
  }
  .content span
  {
      font-weight: bold;
      color:#111
  }
  .content button
  {
      padding: 10px;
      background-color: #c51230;
      color: #fff;
      font-weight: bold;
      border: 0;
      cursor: pointer;
  }
  .content button:hover
  {
    box-shadow: inset 0 0 0 100px rgba(0,0,0,0.2);
  }
