<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>todo list</title>
</head>
<body>
    <h1>to do 132 list</h1>
  
     



    <form action="/newtodo" method="POST">
        <input type="text" name="title" id="">
        <button type="submit">Creat new todo</button>
    </form>
<div class="container" style="display: flex;">
    <div class="div1" style="display: inline-block;">
        <%for(let i = 0; i < result.length; i++){ %>
            <div style="height: 19px; border: solid 1px black;"><%= result[i].title %></div>
       <% } %>
    </div>
    <div class="div2" style="display: inline-block; display: flex; flex-direction: column; width: 100px;">
        <%for(let i = 0; i < result.length; i++){ %>
            <button action="delete">Delete</button>
        <% } %>
    </div>
</div>
    
   

</body>
</html>