.container{
    height: 500px;
    width: 500px;
    background-color: #000;
    display: flex;
    flex-direction: column;
}

.div1{
    height: 100px;
    width: 100px;
    background-color: aqua;
    flex-grow: 1;
}
.div2{
    height: 100px;
    width: 100px;
    background-color: blue;
}