.header{
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;


    a{
        display: inline-block;
        border-bottom: solid 2px transparent ;
    }

    a:nth-child(6){
        margin-left: 300px;
    }

    img{
        height: 50px;
    }
    a:hover{
        color: #CE1247;
        border-bottom: solid 2px #CE1247 ;
    }
}


