.service{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .serviceBox{
        width: 256px;
        *{
            margin-bottom: 25px;
            text-align: center;
        }
    }
}